body{
  background-color: #D2B4DE;
  color: #40514E;
  margin : 0;
  text-align: center;
  font-family: Merriweather, serif;
}
hr{
  border: dotted #808080 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
h1{
  font-size: 5rem;
  margin: 90px auto 0 auto ;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: ##000080;
  /*line-height: 2;*/
}
h2{
  font-family: Montserrat,sans-serif;
  font-size: 2.5rem;
  color: ##000080;
  font-weight: normal;
  padding-bottom: 2px;
}
h3{
    font-family: Montserrat,sans-serif;
    color: #11999E;
}
p{
  line-height: 2;
}
.santosh-img{
  border-radius: 100%;
}
.intro{
  width: 30%;
  margin: auto;
}

.top-container{
/*
  background-color: #E4F9F5;
  border: solid;
  border-width: 2px;
  margin: 2px;
  padding: 10px;
  position: relative;
  padding-top: 100px;
*/

}
.middle-container{
  /*background-color: red;
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 2px;

  padding: 10px;
  */
  margin:100px 0;
}
.bottom-container{

  background-color: #66BFBF;
  padding:50px 0 20px;
  /*
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 2px;
  margin: 2px;
  */

}

.skill-row{
  width: 50%;
  margin:100px  auto;
  text-align: left;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;
}
.chess-img{
  shape-outside: circle();
  border-radius: 100%;
  width: 20%;
 float: left;
 margin-right: 30px;
}
.web-img{
  width: 20%;
  float: right;
  margin-left:30px;
  border-radius: 100%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-me{
  width: 25%;
  margin: 40px auto 60px;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #dc143c;
  font-size: 0.75rem;
  padding: 20px 0;
}
